PORT=5000
MONGO_URI="mongouri"
MONGO_USER="mongouser"
MONGO_PASS="password"
JWT_SECRET="jwtsecrethere"
CLOUD_NAME="cloudname"
CLOUD_KEY=67676767676767
CLOUD_SECRET="cloudsecretboo"
EMAIL_USER="email@email.com"
EMAIL_PASS="passforemail"
TWILIO_ACCOUNT_SID="twiliosid"
TWILIO_AUTH_TOKEN="twiliotoken"
TWILIO_PHONE=+676767676767